*
{
  margin: 0;
  padding: 0;
}

body {
  background: $primary-background;
}

.main-dashboard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5vw;
}

.trip-box {
  height: 30vw;
  border-radius: 2px;
  width: 22vw;
  background-color: white;
  margin-top: 5vw;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 2px 2px 5px grey;
}

.trip-list {
  padding-left: 2vw;
  padding-top: 2vw;
}

.trip-header {
  padding-top: 1vw;
  color: white;
  background-color: $trip-header-background;
  height: 3vw;
  display: flex;
  justify-content: center;
}

.trip {
  margin-bottom: 1.5vw;
}

.amount-spent {
  font-size: 1.5vw;
  margin-left: 1vw;
}

.welcome-box {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  background-color: $header-color
}

.dashboard-button {
  margin-left: 3vw;
}

.tab-styling {
  border: none;
  width: 7vw;
  border-radius: 2px;
}

.book-trip-button {
  margin-left: 1vw;
}

.header {
  background-color: $header-color;
  color: $header-text;
  display: flex;
  justify-content: center;
  height: 7vw;
}

.hidden {
  display: none;
}
